.water-marker-inner {
  background-color: #1E90FF;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
}

.custom-water-marker {
  background: none;
  border: none;
}
